$ cat .gitattributes
*.module linguist-language=PHP

# Auto detect text files and perform LF normalization
* text eol=lf
*.php text eol=lf

*.jpg binary
*.png binary
*.gif binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.otf binary
